body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}

.login {
	background-color: #fafafa ;
}

.login-color {
	background-color: #1976d2;
	height: 0em;
	padding-top: 5em;
	width: auto;

	margin: -1em -2em 0em -2em;
}

.login-title {
	margin-top: -5em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;

}

.login-form {
	margin: auto;
	padding:.5em 2em .5em 2em;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
	width: 30em;
	height: 23em;
	vertical-align: middle;

	background-color: #fff;
}

.container {
	min-height: 100%;
}

/* label color */
.input-field label {
	color: #CCCCCC;
}

input::placeholder {
	color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #1976d2;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #1976d2;
	box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}

/* label focus color */
.input-field input[type=password]:focus + label {
	color: #1976d2;
}
/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid #1976d2;
	box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=password].valid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=password].invalid {
	border-bottom: 1px solid #ef5350;
	
}

/* label focus color */
.input-field input[type=email]:focus + label {
	color: #1976d2;
}
/* label underline focus color */
.input-field input[type=email]:focus {
	border-bottom: 1px solid #1976d2;
	box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=email].valid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=email].invalid {
	border-bottom: 1px solid #ef5350;
	box-shadow: 0 1px 0 0 #ef5350;
}

/* icon prefix focus color */
.input-field .prefix.active {
	color: #000;
}

.material-icons .md-dark { 
	color: rgba(0, 0, 0, 0.54); 
}
.material-icons .md-dark .md-inactive { 
	color: rgba(0, 0, 0, 0.26); 
}

.modal {
	width: 65%;
}

      
